@inherits LayoutComponentBase
@inject GlobalData data

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
        <Microsoft.FluentUI.AspNetCore.Components.FluentToastProvider MaxToastCount="5" Position="Microsoft.FluentUI.AspNetCore.Components.ToastPosition.BottomCenter"/>
        <Microsoft.FluentUI.AspNetCore.Components.FluentDialogProvider />
    </main>
</div>
